#cabecera{
    background :dodgerblue;
    color: white;
    font-family: Lato; 
    border-width: 5px;
    border-color: black;
}
#button{
    margin-top: 4%;
    text-align: right
}

/* input{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  } */