#cabecera{
    background :dodgerblue;
    color: white;
    font-family: Lato; 
    border-width: 5px;
    border-color: black;
}

#userImg{
    color: white;
    /* background:royalblue; */
    align-content: center;
    padding-bottom: 20px;
    height: 55px;
    width: 55px;
}
#userButton{
    color: white;
    /* background: gold; */
}
#userDrop{
    background :dodgerblue;
    color: white;
    
}
#userDrop:hover{
    color:dodgerblue;
    background:white;
 }
#person{
    padding-right: 30px;
}
#navmenu{
    border: 15px;
    border-color: black;
}

a.nav-link{
    color: #47525e;
}
a.nav-link:hover{
    background-color: #e5e9f2;
    color: #47525e; 
}
.dropbtn {
    color: #47525e;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #ffff;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #47525e;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #e5e9f2}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #e5e9f2;
  }